* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

::-moz-selection {
  background-color: #00FF66;
}

::selection {
  background-color: #00FF66;
}

a {
  color: #00FF66;
  -webkit-transition: .2s;
  transition: .2s;
}

#monitor {
  background-color: #000;
}

#panel {
  position: relative;
  min-height: 100vh;
  border: 2.5em solid transparent;
  border-image-outset: 0;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-source: url(img/bezel.png);
  border-image-slice: 30 fill;
}

#screen {
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(circle, #003716 0%, black 100%);
}

#screen::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(18, 16, 16, 0)), color-stop(50%, rgba(0, 0, 0, 0.25))), -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.06)), color-stop(rgba(0, 255, 0, 0.02)), to(rgba(0, 0, 255, 0.06)));
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 3px, 3px 100%;
}

#screen::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
  background: rgba(18, 16, 16, 0.1);
  -webkit-animation: screenFlicker 0.15s linear infinite;
          animation: screenFlicker 0.15s linear infinite;
}

#terminal {
  color: #00FF66;
  font: 1.8em Inconsolata, monospace;
  font-size: 2em;
  text-transform: uppercase;
  text-shadow: 0 0 1em #282828, 0 0 2em #00FF66;
  padding: 2%;
}

#terminal_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

#terminal_header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

#terminal_header ul li:not(:last-of-type) {
  margin-right: 2rem;
}

#terminal_header ul li i {
  font-size: 2.75rem;
}

#input::after {
  content: '';
  background-color: #00FF66;
  padding-left: 5px;
  margin-left: 5px;
  -webkit-animation: cursorBlinking .5s infinite;
          animation: cursorBlinking .5s infinite;
}

.text {
  -webkit-animation: textFlicker linear 10s infinite;
          animation: textFlicker linear 10s infinite;
}

.blackLine {
  width: 100%;
  height: 2.5px;
  position: absolute;
  opacity: .3;
  z-index: 3;
  background-color: #000;
  -webkit-animation: blackLine 7.5s ease-out infinite;
          animation: blackLine 7.5s ease-out infinite;
}

@-webkit-keyframes blackLine {
  0% {
    bottom: 0%;
  }
  75% {
    bottom: 0%;
  }
  100% {
    bottom: 100%;
  }
}

@keyframes blackLine {
  0% {
    bottom: 0%;
  }
  75% {
    bottom: 0%;
  }
  100% {
    bottom: 100%;
  }
}

@-webkit-keyframes textFlicker {
  5% {
    opacity: .5;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    -webkit-transform: skewX(35deg);
            transform: skewX(35deg);
  }
  6% {
    opacity: .2;
    -webkit-transform: translateX(-12px);
            transform: translateX(-12px);
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform: skew(0);
            transform: skew(0);
  }
  75% {
    opacity: .75;
  }
  77% {
    opacity: 1;
  }
  97% {
    opacity: .75;
  }
  99% {
    opacity: 1;
  }
}

@keyframes textFlicker {
  5% {
    opacity: .5;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    -webkit-transform: skewX(35deg);
            transform: skewX(35deg);
  }
  6% {
    opacity: .2;
    -webkit-transform: translateX(-12px);
            transform: translateX(-12px);
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform: skew(0);
            transform: skew(0);
  }
  75% {
    opacity: .75;
  }
  77% {
    opacity: 1;
  }
  97% {
    opacity: .75;
  }
  99% {
    opacity: 1;
  }
}

@-webkit-keyframes cursorBlinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cursorBlinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes screenFlicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

@keyframes screenFlicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
/*# sourceMappingURL=main.css.map */